body{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: initial;
    font-family: sans-serif;
}

.about-section{

}

.about-section-top-heads{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-section-top-heads-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 10%;
    height: 200px;
}

.about-section-top-heads-head h2{
    text-transform: capitalize;
    font-size: 40px;
    color: grey;
    font-family: sans-serif;
}

.about-section-top-heads-head-context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 200px;
    padding-right: 200px;
    line-height: 20px;
    color: rgb(46, 46, 46);
    font-family: sans-serif;
}

.about-section-top-heads-head-context span{
    font-family: sans-serif;
    padding-left: 50px;
}

.about-section-mixx{
    display: flex;
    flex-direction: column;
}


.about-section-mixx-give-backs{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about-section-mixx-give-backs-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    background-color: antiquewhite;
    width: 50%;
    height:600px;
}

.about-section-mixx-give-backs-head span{
    font-family: monospace;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 5px;
    width: 60%;
    color: darkslategray;

}

.about-section-mixx-give-backs-context{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 50px;
}

.about-section-mixx-give-backs-context h2{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bold;
    color: darkslategray;
    font-family: sans-serif;
}

.about-section-mixx-give-backs-context span{
    padding-right: 200px;
    line-height: 20px;
    color: rgb(46, 46, 46);
    font-family: sans-serif;
}

.about-section-mixx-give-extra{
    position: absolute;
    background: url('../imgs/wall1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 80%;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 250px;
}

.about-section-mixx-give-extra span{
    display: block;
    width: 300px;
    margin: 100px;
    line-height: 20px;
    color: rgb(46, 46, 46);
    font-family: sans-serif;
}


.choose-us-section{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    margin: 100px 10%;
}

.choose-us-section-info{
    width: 50%;
    background-color: transparent;
}


.choose-us-section-info-title{
    color: rgb(46, 46, 46);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}

.choose-us-section-info-note{
    color: grey;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: initial;
    width: 80%;
    line-height: 20px;
}

.choose-us-section-info-points{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.choose-us-section-info-points-item{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background-color: transparent;
    margin: 5px 0px;
    margin-right: 20px;
}

.choose-us-section-info-points-item i{
    display: block;
    font-size: 17px;
    color: rgb(46, 46, 46);
    margin: 0px;
}

.choose-us-section-info-points-item h4{
    font-family: sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    color: rgb(46, 46, 46);
    margin:0px;
    margin-top: 10px;
}



.choose-us-section-info-points-item p{
    font-family: sans-serif;
    font-weight: 500;
    text-transform: initial;
    display: block;
    font-size: 13px;
    color: grey;
    line-height: 18px;
    margin:0px;
    margin-top: 10px;
    padding-right: 20px;
}

.choose-us-section-thumbnail{
    background-color: transparent;
    width: 50%;
}


.choose-us-section-thumbnail span{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../imgs/inside-weather-OzqieLcs464-unsplash.jpg");
    background-size: contain;
    background-position: -150px;
    background-repeat: no-repeat;
}




.about-interior-designs-section{
    display: flex;
    flex-direction: row;
    margin: 100px 10%;
    font-family: sans-serif;
}


.about-interior-designs-section-image{
    background-color: transparent;
    width: 50%;
}

.about-interior-designs-section-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding-left: 20px;
}

.about-interior-designs-section-info h4{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(46, 46, 46);
    width: 60%;
    margin: 0px;
}


.about-interior-designs-section-info p{
    color: grey;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    padding-right: 100px;
}

.about-interior-designs-section-info-listing ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-interior-designs-section-info-listing ul li{
    width: 50%;
    margin: 10px 0px;
    color: rgb(71, 71, 71);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.about-interior-designs-section-info-explore-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(46, 46, 46);
    padding: 5px 10px;
    text-transform: capitalize;
    border-radius: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: 25px;
}




.about-some-chairs-section{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 10%;
}


.about-some-chairs-section-item{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.about-some-chairs-section-thumbnail{
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
}

.about-some-chairs-section-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-some-chairs-section-info span{
    display: block;
    font-family: sans-serif;
}


.about-some-chairs-section-title{
    font-size: 15px;
    font-weight: bold;
    color: rgb(46, 46, 46);
}


.about-some-chairs-section-notes{
    color: grey;
    font-size: 13px;
    padding: 10px 0px;
    line-height: 20px;
}

.about-some-chairs-section-readmore{
    font-size: 13px;
    font-weight: bold;
    color: rgb(71, 71, 71);
    text-transform: capitalize;
    text-decoration: none;
    font-family: sans-serif;
}