.cart-container{
    display: flex;
    flex-direction: row;
}

.cart-details{
    background-color: lightblue;
    height: 100px;
    width: 100%;
    text-align: right;
    padding-right: 450px;
    z-index: 1;
}

.cart-checkout{
    display: block;
    position: fixed;
    background-color: lightgray;
    width: 400px;
    right: 0px;
    top: 0px;
    bottom: 0vh;
    z-index: 20;
}


.main-cart-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10%;
    margin-top: 20px;
}

.main-cart-section-main{
    width: 65%;
}

.main-cart-section-main-heading{
    text-transform: capitalize;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: grey;
}

.main-cart-section-main-container-header{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

.main-cart-section-main-container-header-title{
    display: block;
    width: 20%;
    margin: 0px 2px;
    padding: 5px 0px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 1px;
    color: grey;
}




.main-cart-section-main-container{
    width: 100%;
}

.main-cart-section-main-container table{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}


.main-cart-section-main-container table tr{
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    width: 100%;
}






.main-cart-section-summary{
    width: 30%;
}

.main-cart-section-summary-order{
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
}

.main-cart-section-summary-order-title{
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

.main-cart-section-summary-order-info{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}


.main-cart-section-summary-order-info-item{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 5px 0px;
    letter-spacing: 1px;
}

.main-cart-section-summary-order-info-item-title{
    font-family: sans-serif;
}

.main-cart-section-summary-order-info-item-data{
    font-family: sans-serif;
}

.main-cart-section-summary-order-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

.main-cart-section-summary-order-total-title{
    font-family: sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: grey;
    font-weight: bold;
}

.main-cart-section-summary-order-total-price{
    font-family: sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: grey;
    font-weight: bold;
}



.main-cart-section-summary-order-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: white;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    text-transform: capitalize;
}