@import url("./fonts.css");


body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

.nav-link{
    color: rgb(133, 133, 133);
}
.nav-link-active{
    color: burlywood;
}

.catalog-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 3%;
    background-color: black;
    display: none;
}

.catalog-title{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: gray;
    padding-top: 5px;
}

.search-section input{
    border: none;
    outline: none;
    /* background-color: lightgrey; */
    border-radius: 50px;
    height: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    border: 1px solid rgba(212, 212, 212, 0.342);
}

.catalog-filter-type-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 3%;
    background-color: black;
    color: white;
    height: 80px;
    cursor: pointer;
}

.catalog-filter-type-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}

/* .catalog-filter-type-item:hover{
background-color: white;
} */

.catalog-filter-type-item-thumbnail{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    cursor: pointer;
}

.catalog-filter-type-item-thumbnail{
    font-size: 25px;
    color: grey;
}

.catalog-filter-type-item-title{
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    color: grey;
    text-align: center;
}

.catalog-filter-section{
    background-color: black;
    color: grey;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 3%;
    border-bottom: 1px solid rgba(212, 212, 212, 0.342);
}

.catalog-filter-sec{
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: .1px;
    color: grey;
    display: flex;
    flex-direction: row;
}

.catalog-filter-sec input{
    outline: none;
    margin-right: 10px;
}

.catalog-filter-sec select{
    color: grey;
    font-weight: bold;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: .1px;
    outline: none;
    border: none;
    width: 150px;
    background-color: transparent;
    outline: none;
}

.catalog-filter-sec select option{
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
    background-color: transparent;
}

.catalog-filter-sec span{
    font-size: 12px;
    font-weight: bold;
    color: grey;
    font-family: sans-serif;
}

.catalog-filter-sec-range {
    padding: 0px 5px;
    font-size: 12px;
    font-family: sans-serif;
}

.catalog-filter-sec-range input{
    outline: none;
    height: 3px;
    width: 150px;

}

.catalog-sort-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 3%;
    margin-top: 25px;
}

.catalog-sort-heading span{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    color: darkslategrey;
    font-size: 15px;
}

.catalog-sorting{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.catalog-sorting-item{
    padding-left: 15px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: darkslategrey;
}

.catalog-sorting-item select{
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 11px;
    color: grey;
}

.catalog-sorting-item select option{
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 11px;
    color: grey;
}

.catalog-products{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 0px 10px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    /* border-bottom: 1px solid grey; */
}

.catalog-product-item{
    display: inline-block;
    margin: 5px;
    background-color: transparent;
    width: 220px;
    padding: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    transition: 0.5s linear;

}

.catalog-product-item:hover{
    border-radius: 20px;
    background-color: rgba(211, 211, 211, 0.363);
    transition: 0.5s linear;
}

.catalog-product-item-thumbnail{
    background-color: lavender;
    width: 220px;
    height: 250px;
}

.catalog-product-item-title{
    background-color: transparent;
    text-align: center;
    padding-top:8px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: grey;
}

.catalog-product-item-price{
    background-color: transparent;
    text-align: center;
    padding-top:8px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(83, 83, 83);
}