/* tablet or mobile */
*{
    font-family: initial;
}
@media (max-width: 981px) {


    body{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    
    .wrapper{
        background: url("../imgs/hadi-yazdi-aznaveh-FoTZazW3WxY-unsplash.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    
    nav{
        display: none;
    }
    .nav-mobile{
        background-color: rgba(0, 0, 0, 0.322);
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-mobile-menu{
        display: inline-block;
    }

    .mobile-nav-note{
        display: inline-block;
        background-color: transparent;
        margin-top: 20vh;
        margin-left: 5%;
        font-family: sans-serif;
        font-weight: bolder;
        color: #abd8e0;
        text-shadow: 10px 1px 10px rgba(0, 0, 0, 0.616);
        font-size: 8vw;
        text-transform: uppercase;
    }
    
    .who-section{
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 70px 50px;
    }
    
    .who-note{
        padding-left: 100px;
        padding-right: 20px;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 20px;
    }
    
    .who-more{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(165, 165, 165);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-top: 200px;
        margin-left: -200px;
        position: absolute;
    }
    
    .who-container{
        background-color: transparent;
        height: 50vh;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s linear;
        padding-bottom: 30px;
    }
    
/*     .who-container-hover:hover{
        background-color: rgb(226, 226, 226);
        transition: 0.3s linear;
        cursor: pointer;
    } */
    
    
    .furniture-image{
        display: block;
        background-color: transparent;
        height: 60%;
        width: 60%;
        border-radius: 0px;
        margin: 20px;
        transition: 0.3s linear;
        cursor: pointer;
    }

/*     .furniture-image:hover{
        transform: scale(1.1);
        transition: 0.3s linear;
    } */
    
    .furniture-name{
        display: block;
        width: 50%;
        text-align: center;
        text-transform: capitalize;
    }
    
    .furniture-price{
        margin-top: 16px;
    }

    
    .board-show{
        display: flex;
        flex-direction: row;
        justify-content: center;        
        background-color: transparent;
        height: 260px;
    }

    .board-a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        height: 100%;
        width: 33.1%;
    }

    .board-b{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        height: 100%;
        width: 33.1%;
    }

    .board-c{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        height: 100%;
        width: 33%;
    }

    .board-small-heading{
        display: block;
        text-transform: uppercase;
        font-family: cursive;
        font-style: italic;
        font-size: 8px;
        letter-spacing: 3px;
        color: white;
    }
    
    .board-title{
        display: block;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: white;
        padding: 10px 0px;
    }
    
    .board-subtitle{
        display: block;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: white;
    }
}
















/* pc */
@media (min-width: 981px) {


    body{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    
    .wrapper{
        background: url("../imgs/hadi-yazdi-aznaveh-FoTZazW3WxY-unsplash.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    .nav-mobile{
        display: none;
    }
    
    .mobile-nav-note{
        display: none;
    }

    .nav-pc{
        display: flex;
        flex-direction: row;
        padding: 4% 5%;
    }
    
    .logo-container{
        width: 10%;
    }
    
    .nav-logo{
    
    }
    
    .nav-note-section{
        width: 200px;
    }
    
    .nav{
        width: 100%;
        text-align: right;
    }
    
    .nav-note{
        font-size: 20px;
        word-wrap: break-word;
        font-weight: bold;
        font-family: sans-serif;
        color: white;line-height: 35px;
        text-transform: capitalize;
    }
    
    .nav-link{
        text-transform: capitalize;
        margin: 0px 10px;
        cursor: pointer;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        font-family: sans-serif;
        color: white;
        transition: 0.3s linear;
    }
    
    .nav-link:hover{
        color: rgb(94, 94, 94);
        transition: 0.3s linear;
    }
    
    .nav-link-active{
        color: rgb(245, 219, 186);
    }
    
    .nav-btn{
        text-decoration: none;
        text-transform: capitalize;
        background-color: rgba(0, 0, 0, 0.356);
        color: white;
        font-family: sans-serif;
        font-size: 13px;
        padding: 5px 15px;
        border-radius: 10px;
    }
    
    .nav-btn:hover{
        color: rgb(245, 219, 186);
        transition: 0.3s linear;
    }
    
    
    .who-section{
        background-color: rgb(190, 190, 190);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 70px 50px;
        padding-bottom: 1px;
    }
    
    .who-note{
        padding-left: 100px;
        padding-right: 20px;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 20px;
    }
    
    .who-more{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(165, 165, 165);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-top: 200px;
        margin-left: -200px;
        position: absolute;
    }
    
    .who-container{
        background-color: transparent;
        height: 50vh;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s linear;
        padding-bottom: 30px;
    }
    
/*     .who-container-hover:hover{
        background-color: rgb(226, 226, 226);
        transition: 0.3s linear;
        cursor: pointer;
    } */
    
    .furniture-image{
        display: block;
        background-color: transparent;
        height: 60%;
        width: 60%;
        border-radius: 50%;
        margin: 20px;
        transition: 0.3s linear;
        cursor: pointer;
    }

    .furniture-image:hover{
        transform: scale(1.1);
        transition: 0.3s linear;
    }
    
    .furniture-name{
        display: block;
        width: 50%;
        text-align: center;
        text-transform: capitalize;
    }
    
    .furniture-price{
        margin-top: 16px;
    }

    .board-show{
        display: flex;
        flex-direction: row;
        justify-content: center;        
        background-color: transparent;
        height: 260px;
    }

    .board-a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        height: 100%;
        width: 33.1%;
    }

    .board-b{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        height: 100%;
        width: 33.1%;
    }

    .board-c{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        height: 100%;
        width: 33%;
    }

    .board-small-heading{
        display: block;
        text-transform: uppercase;
        font-family: cursive;
        font-style: italic;
        font-size: 8px;
        letter-spacing: 3px;
        color: white;
    }
    
    .board-title{
        display: block;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: white;
        padding: 10px 0px;
    }
    
    .board-subtitle{
        display: block;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: white;
    }




    .product-dash{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(247, 247, 247);
        padding-top: 50px;
    }

    
    .product-dash-aside{
        min-width: 250px;
        max-width: 20%;
        padding-left: 15px;
    }

    .product-dash-aside-display{
        background-color: lightgray;
        margin-bottom: 50px;
    }

    .product-dash-aside-display-heading{
        background-color: rgb(20, 20, 20);
        color: white;
        padding: 5px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 13px;
    }

    .product-dash-aside-display-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .product-dash-aside-display-content-item{
        background-color: white;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        padding-top: 10px;
    }

    .product-dash-aside-display-content-item-subtitle{
        display: block;
        color: black;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px;
    }

    .product-dash-aside-display-content-item-subcontent{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .product-dash-aside-display-content-item-category{
        display: block;
        width: 100%;
    }

    
    .product-dash-aside-display-content-item-category-checkbox{}

    .product-dash-aside-display-content-item-category-name{
        text-transform: capitalize;
    }
    .all-items{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .product-dash-aside-display-content-item-price-min-price{
        width: 20%;
        border: 1px solid grey;
        height: 18px;
        border: 1px solid rgba(90, 89, 89, 0.137);
        padding-left: 5px;
        text-transform: uppercase;
        font-size: 13px;
        padding-top: 3px;
        font-family: sans-serif;
        font-weight: 600;
    }

    .product-dash-aside-display-content-item-price-max-price{
        width: 20%;
        border: 1px solid grey;
        font-size: 13px;
        padding-top: 3px;
        border: 1px solid rgba(90, 89, 89, 0.137);
        padding-left: 5px;
        text-transform: uppercase;
        font-size: 11px;
        font-family: sans-serif;
        font-weight: 600;
    }
    .product-dash-aside-display-content-item-price-search-btn{
        background-color: rgba(255, 166, 0, 0.384);
        width: 20%;
        font-size: 13px;
        padding-top: 3px;
        border: 1px solid rgba(128, 128, 128, 0);
        padding-left: 5px;
        text-transform: uppercase;
        font-size: 11px;
        font-family: sans-serif;
        font-weight: 600;
    }

    .product-dash-aside-display-content-item-range input{
        width: 100%;
        height: 10px;
    }

    .product-dash-aside-display-content-item-range-input{
        height: 10px;
    }

    .product-dash-aside-display-content-item-manufacturer{
        display: flex;
        flex-direction: row;
    }

    .product-dash-aside-display-content-item-manufacturer-checkbox{}

    .product-dash-aside-display-content-item-manufacturer-name{
        text-transform: capitalize;
    }

    .product-dash-aside-display-content-item-color-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    .product-dash-aside-display-content-item-color{
        display: inline-block;
        margin: 5px;
    }

    .product-dash-aside-display-content-item-color-box{
        display: inline-block;
        background-color: red;
        width: 20px;
        height: 20px;
        margin: 0px 5px;
    }

    .product-dash-aside-display-content-item-color-title{
        text-transform: capitalize;
        display: inline-block;
        padding-bottom: 5px;
    }


    .product-dash-aside-display-item{
        display: flex;
        flex-direction: row;
        height: 80px;
        margin-top: 20px;
    }

    .product-dash-aside-display-item-thumbnail{
        width: 150px;
        background-color: lightgray;
    }

    .product-dash-aside-display-item-content{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }

    .product-dash-aside-display-item-content-name{
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bold;
    }

    .product-dash-aside-display-item-content-rating{
        margin: 5px 0px;
    }

    .product-dash-aside-display-item-content-rating i{
        font-size: 13px;
    }

    .product-dash-aside-display-item-content-price{
        color: red;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 13px;
        margin: 5px 0px;
    }

    .product-dash-aside-display-item-content-price span{
        color: rgb(83, 83, 83);
        font-size: 11px;
    }

    .product-dash-content{
        width: 100%;
        display: inline-block;
        background-color:transparent;
        padding: 0px 10px;
    }

    .product-dash-content-products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product-dash-product{
        background-color: white;
        width: 250px;
        margin: 5px 5px;
    }

    .product-dash-product-current{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-dash-product-current-sold{
        background-color: lightcoral;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 5px;
        float: left;
    }

    .product-dash-product-current-new{
        background-color: skyblue;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 5px;
        float: right;
    }

    .dash-product-thumbnail{
        background-color: rgb(53, 143, 143);
        height: 200px;
        margin-top: -38px;
    }

    .product-dash-product-name{
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        font-family: sans-serif;
        padding: 5px 20px;
    }

    .product-dash-product-price{
        color: red;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 13px;
        margin: 5px 0px;
        text-align: center;
    }

    .product-dash-product-rating{
        text-align: center;
    }

    .product-dash-product-rating i{
        font-size: 10px;
    }

    .product-dash-product-cart-contain{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        margin-top: 10px;
        border-top: 1px solid silver;
        border-bottom: 1px solid silver;
        padding: 8px 10px;
    }

    .product-dash-product-cart-heart, .product-dash-product-cart-wishlist{
        color: grey;
    }

    .product-dash-product-cart-addcart{
        text-transform: uppercase;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: bold;
        padding-top: 2px;
        color: grey;
    }
}

